body {
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    background: #0fa1e0;
    background: -moz-linear-gradient(top, #0fa1e0 100%, #31b7f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #0fa1e0), color-stop(100%, #31b7f1));
    background: -webkit-linear-gradient(top, #0fa1e0 100%, #31b7f1 100%);
    background: -o-linear-gradient(top, #0fa1e0 100%, #31b7f1 100%);
    background: -ms-linear-gradient(top, #0fa1e0 100%, #31b7f1 100%);
    background: linear-gradient(to bottom, #0fa1e0 100%, #31b7f1 100%);
}
.container {
    margin: center;
    width: center;
    margin-top: 15%;
    box-shadow: 5px;
}
.login {
    position: relative;
    margin: auto;
    width: 250px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.login table{
    padding: 1px 1px 1px 1px;
    margin: 1px 0 1px 0 1px;
    width: 250px;
    height: 20px;
    overflow:auto;
    background: #f3f3f3;
    border-top: 1px solid #cfcfcf;
    border-radius: 0 0 3px 3px;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.login h1 {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.login img{
    width: 200px;
    height: 150px;
    margin-top:5px;
    margin-bottom:5px;

}
.login input[type=text], .login input[type=password] {
    text-align: center;
    height: 20px;
    width: 100px;
    color: #404040;
    font-size: 11px;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 1px;
    outline: 2px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login input[type=text]:focus, input[type=password]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}
.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 15px;
}
.error{
    color: #555;
    border-top: 1px solid #cfcfcf;
    font-size: 11px;
    text-align: center;
}
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}